@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* css user dropdown */
.user-dropdown .ant-dropdown-menu {
  background-color: #1f1f1f !important; /* Màu nền theo ý bạn */
  margin-top: 9px !important;
  width: 200px;
}

.user-dropdown .ant-dropdown-menu-item {
  color: white !important;
  font-size: 15px !important;

}

.user-dropdown .ant-dropdown-menu-item:hover {
  background-color: black !important;
}

.div-user-noti{
  margin-right: 100px ;
}

@media (max-width: 870px) {
  .div-search{
    width: 300px;
  }
}

@media (max-width: 689px) {
  /* .div-search{
    width: 200px;
  } */
  .div-user-noti{
    margin-right: 0px ;
  }

}

/* Tùy chỉnh scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Nền của track scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Màu của thanh cuộn */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Màu khi hover */
}


/* 588 */


.scroll-on-hover {
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-on-hover:hover {
  overflow-x: auto;
}

.scroll-on-hover::-webkit-scrollbar {
  height: 6px;
}

.scroll-on-hover:not(:hover)::-webkit-scrollbar {
  display: none;
}